body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.sudoku {
    display: grid;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(9, 60px);
}

.sudoku-cell {
    text-align: center;
    font-size: 30px;
    border: 1px solid;
}

*:disabled {
    background-color: #505050;
    color: #ffffff;
}

/* column borders left right 
    3n means every 3rd column
*/
.sudoku-cell:nth-of-type(3n+1) {
    border-left: 3px solid #000000;
}
.sudoku-cell:nth-of-type(9n) {
    border-right: 3px solid #000000;
}

/* row borders top bottom */
.sudoku-cell:nth-child(n + 1):nth-child(-n + 10),
.sudoku-cell:nth-child(n + 29):nth-child(-n + 37),
.sudoku-cell:nth-child(n + 56):nth-child(-n + 64) {
    border-top: 3px solid #000000;
}

.sudoku-cell:nth-child(n + 74):nth-child(-n + 82) {
    border-bottom: 3px solid #000000;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} 

.current-guess {
    background-color: lightblue; /* Example background color for highlighting */
}